@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: rgb(248, 254, 254);
}

h1 {
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
img {
    width: 30%;
    height: auto;
    display: block;  
    margin: 0 auto;  
}

p {
    font-size: 20px;
    padding: 0px;
    margin-top: 0px;
}

ul {
    text-align: left;
    display: inline-block;
    width: 60%; 
}